{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" false) }}
    {{ partial "toc.html" . }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:md:px-12">
        {{ partial "page-header.html" . }}
        <div class="content">
          {{ .Content }}
        </div>
        <div class="hx:mt-16"></div>
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
